.body {
  background-color: rgb(50, 50, 50);
}

.proyecto{
  color: white;
}

.parrafo{
  color: white;
}


hr {
  height: 2px;
  background-color: white; 
  border: none;
}

.navbar-toggler{
  background-color: white;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  padding: 1rem 1rem;
}

*.nav-link{
  color: white !important;
}

footer{
  background-color: rgb(42,40,45);
  color: white;
  text-align: right;
  padding-right: 30px;
}

.imagen-mini {
  width: 100px;
  height: auto;
}

.bandera-mini {
  width: 50px;
  height: auto;
}

ul{
  list-style: none;
  padding: 0;
}

.selected-lang{
  cursor: pointer;
}

.selected-lang:before{
  counter: pointer;
  display: block;
  width: 32px;
  height: 32px;
}