.body {
  background-color: rgb(50, 50, 50);
}

.proyecto{
  color: white;
}

#proyecto{
  color: white;
}

.parrafo{
  color: white;
}

.container{
  margin-top: 1%;
  margin-bottom: 5%;
}

.container a {
  text-decoration: none;
}

.card{
  display: flex;
  flex-direction: column;
}

.card-img-fotoperfil{
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(0,0,0, .2)
}
.inner {
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

.card-link{
  color: black;
  font-size: 30px;
}

.card-link:hover{
  color: orange;
  transition: all 0.9s;
}

hr {
  height: 2px;
  background-color: white; 
  border: none;
}

.navbar-toggler{
  background-color: white;
}

.jumbotron {
  padding: 4rem 4rem;
  background-image: url(imagenes/banner.PNG);
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  background-size: cover; 
}

.jumbotron h1{
  color: white;
}

.intro{
  padding-top: 10px;
}

.intro p{
  color: whitesmoke;
}

.navbar-nav a {
  color: white;
  margin: 0 20px;
  margin-top: 10px;
}

.navbar-toggler{
  color:white;
  border: none;
  margin-top: 10px;
  justify-content: left;
}

.navbar-toggler-icon{
  color: white;
  font-size: 30px;
}

.nav-link{
  color: white !important;
}

.nav-link:hover{
  color: rgb(220, 187, 57) !important;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}


.imagen-mini {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}

.lang-menu {
  margin-left: auto;
}

.navbar-nav {
  display: flex;
  margin-top: 10px;
}

.selected-lang {
  width: 100%;
  margin-left: 800px; /* Agrega un espacio entre los elementos de la navbar y la bandera */
}

.toggleLenguage {
  color: white;
  text-decoration: none;
}


.bandera-mini {
  width: 50px;
  height: auto;
}

ul{
  list-style: none;
  padding: 0;
}

.selected-lang{
  cursor: pointer;
}

.selected-lang:before{
  display: block;
  width: 32px;
  height: 32px;
}

footer{
  background-color: rgb(42,40,45);
  color: white;
  text-align: center;
  height: 30%;
  width: 100%;
  padding-top: 10px;
}

.footer-content{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 3rem;
}
.footer-content p{
  max-width: 650px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-content hr{
color: whitesmoke;
margin: 0 auto;
height: auto;
width: 30%;
}

.redes-sociales{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 4;
}

.redes-sociales li{
margin: 10px;
}

.redes-sociales a i{
  color: white;
font-size: 20px;
}

.redes-sociales i:hover{
  transition: color 0.9s ease;
  color: orange;
}

.informacion-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 4;
}

.informacion-contacto li{
margin: 10px;
}


.footer-bottom{
  background-color: black;
  width: 100%;
  padding: 1px 0;
  text-align: center;
}

.footer-bottom p{
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}

.footer-bottom span{
color: grey;
  }

  /* Servicios */

  .servicio-app{
    color: white;
    padding: 2%;
    background-image: url(imagenes/appfoto.png);
  }

  .servicio-web{
    color: white;
    padding: 2%;
    background-image: url(imagenes/webfoto.png);
  }

  .servicio-ux{
    color: white;
    padding: 2%;
    background-image: url(imagenes/uxfoto.png);
  }

  .servicio-mantenimiento{
    color: white;
    padding: 2%;
    background-image: url(imagenes/mantenimientofoto.png);
  }

  .servicio-app:hover{
    color: orange;
    cursor: pointer;
  }

  .servicio-web:hover{
    color: orange;
    cursor: pointer;
  }

  .servicio-ux:hover{
    color: orange;
    cursor: pointer;
  }
  
  .servicio-mantenimiento:hover{
    color: orange;
    cursor: pointer;
  }

  .servicio-app i{
    font-size: 36px;
  }

  .servicio-web i{
    font-size: 36px;
  }

  .servicio-ux i{
    font-size: 36px;
  }

  .servicio-mantenimiento i{
    font-size: 36px;
  }
  
  .video-youtube{
    margin: auto;
    display: block;
  }

  .imagenes-servicios{
    margin: auto;
    display: block;
  }

  /* Formulario */

  .container-form{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
  }

  .container-form p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .container-form a{
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    display: block;
    color: whitesmoke;
    font-weight: 700;
  }

  .container-form a i{
    color: orange;
    margin-right: 10px;
  }

  .container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
  }

  .container-form form textarea{
    max-width: 520px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
  }

  .container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .container-form .btn-enviar{
    background: orange;
  }